body {
    margin: 0;
}


header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
}


.nav-links {
    font-size: 18px;
    padding: 0 6px;
}

a {
  text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.input-wrapper {
    display: flex;
    height: 40px;
    border: 1px ;
}

#search-jobs {
    flex-basis: 30%;
}

.search-button {
    max-height: 100%;
}

.pages-button {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid;
    width: 5%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.pages-display {
   display: inline-block;
    border: 1px solid;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
    border-left: 1px solid;
    border-right: 1px solid;
}




.pages {
    padding-top: 1%;
}

form {
    padding-top: 2%;
}

.Title {
    color: blue;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 22px;
}

.listing {
    color: grey;
}


.location {
    color: grey;
}