body {
    margin: 0;
}


header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
}

.top-nav{   
}

.nav-links{
    font-size: 18px;
    padding: 0 6px;
}

a {
  text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.input-wrapper {
    display: flex;
    height: 40px;
}

#search-jobs {
    flex-basis: 30%;
}

.search-button {
    max-height: 100%;
}





